*, ::after, ::before {
    box-sizing: border-box;
}
  html, body {
    margin: 0;
    background-color: #FFF;
    color: #0F110C !important;
  }

a {
    text-decoration: none;
  }
.homepage{
	padding: 0 0px 0px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.jumbotron{
    padding-top: 10px;
    padding-bottom: 10px;
}
.nacproekt{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.row{
    margin:0 !important;
}
@media  (max-width: 425px) { 
 .container{
     padding:0 !important;
 }  
 .nacproekt{
     padding:0 !important;
 }
} 
.cardList{
    background: linear-gradient(90deg, #7764CA 0%, #6474CA 100%);
    box-shadow: 0 0.75rem 2.25rem rgba(92, 141, 255, 0.12);
    color: #fff;
    width: 100%;
    border-radius: 1%;
}
.cardList:hover{
    background: linear-gradient(90deg, #4d3ba8 0%, #3b49a8 100%) !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.mb-4 img{
    margin-top:15px;
}
.row-flex, .row-flex > div[class*='col-']{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto; 
}
.fed-btn{
    background-color: #6474CA;
    width: 95%;
}
.fed-btn:hover{
    background-color: #FFF;
    color: #7764CA;
}