.btn-fedlist{
    width: 95%;
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    color:#000;
}
.btn-fedlist:hover{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.btn-fedback{
    width: 95%;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    color:#fff;
}