.flex {
    align-content: center;
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
    width: 100%;
    height: 800px;
}

body{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('https://sun1-97.userapi.com/impf/c855424/v855424474/1254ba/ffbitJob7TQ.jpg?size=1321x2160&quality=96&proxy=1&sign=f616b9ba14a43f0b21493a53e864605b');
}