.headItem {
    margin-bottom: 0 !important;
    color:#F0E4FD;
}
.bodyItem {
    margin-bottom: 25px;
    font-weight: 700;
    color: #fff;
}
.btn-backtmNac{
    padding: 0;
    border: 2px solid transparent;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    text-transform: none;
    box-shadow: none;
    text-decoration: underline;
    color: #fff;
}
.btn-backtmNac:hover{
    box-shadow: none;
    border: none;
    text-decoration: underline;
    color:#F0E4FD !important;
    border: 2px solid #fff;
    border-radius: 5px;
}
.subsurl a{
    color:#000;
}
.subsurl #row5{
    color:#fff;
}
.subsurl a:hover{
    text-decoration:underline;
}
.contfed{
    text-align: center;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background: linear-gradient(90deg, #7764CA 0%, #6474CA 100%);
}
.contfed:hover{
    background: linear-gradient(90deg, #4d3ba8 0%, #3b49a8 100%) !important;
}
.contfed .h3{
    color:#fff;
}
.mar-top{
    margin-top: 15px;
}
.SubsbackgroundCss{
    border: 2px solid transparent;
    border-radius: 5px;
}
.alert{
    margin-bottom: 0 !important;
}
.btn-backtm {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    display: inline-block;
}
.btn-backtm:hover{
    background:#fff;
    color: rgb(5, 5, 5);
}

@media  (max-width: 425px) { 
    #AIDnone, #DIDnone, #EIDnone, #FIDnone, #GIDnone, #LIDnone, #NIDnone, #PIDnone, #RIDnone, #SIDnone, #VIDnone, #IIDnone{
        padding:0 !important;
    }  
} 