.btn-fedlist{
    width: 95%;
    background: #fff;
    color:rgb(5, 5, 5);
    border-radius: 5px;
    border: 2px solid #fff;
}
.btn-fedlist:hover{
    background: transparent;
    color: #fff;
    display: inline-block;
}
.btn-fedback{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    width: 95%;
}
.btn-fedback:hover{
    background-color: #FFF;
    color: rgb(5, 5, 5);
}
.btn{
    letter-spacing: 1px;
}