<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Admin tool</title>
</head>
<body>
    <form>
    <div class="form-group">
        <label for="InputEmail1">Username</label>
        <input class="form-control" id="InputLogin"  placeholder="Username">
    </div>
    <div class="form-group">
        <label for="InputPassword">Password</label>
        <input type="password" class="form-control" id="InputPassword" placeholder="Password">
    </div>
    <button  class="btn btn-primary" onclick="login_check()">Submit</button>
    </form>
</div>

    <script type="text/javascript" src='../static/admintool.js'></script>
</body>
</html> 
